/************************************
*****=RESET VALUES for ENTIRE page****
*************************************
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}





/*html{ background-image:url("../images/debut_light.png"); font-family:Arial, Helvetica, sans-serif; }*/



h1	{  	
	height:100%; 
	width:100%;
	position:relative; 
	top:50px; 
	right:0px; 
	font-size:35px;
	color:#000000;
	text-align: center;
}


#nav	{ 
	float:none; 
	position:absolute; 
	top:100px; 
	left:250px; 
	z-index:10; 
	}

#nav a	{  color:#839298;  text-decoration:none; padding:5px;
						margin-right:10px; font-size:35px; }
					
#nav a:hover	{  color:#EEAD0E; border-bottom:#EEAD0E 5px solid; text-decoration:none; padding:5px;
						margin-right:10px; }

#nav a.selected{  color:#EEAD0E; border-bottom:#EEAD0E 5px solid; text-decoration:none; padding:5px;
						margin-right:10px; }
					
#nav li	{ float:left; }

/*** Body Content ***/
#container	{ width:100%; height:100%; position:absolute; top:0; left:0; overflow:hidden; }

#mask		{ width:400%; height:100%; }

.box		{ width:25%; height:100%; float:left; }

.content	{ width:500px; height:500px; top:20%; margin: 0 auto; position:relative; }
				

					
/*************************************
************MAIN**********************/

/*@font-face {
    font-family: 'work';
    src: url('../fonts/frontage/front.otf');
    font-weight: normal;
    font-style: normal;

}*/

body {
font-family:'Scope One', serif;	
}

ul {
list-style-type:none;
}

ul.portfoliolist {
	font-size:20px;
	margin: 20px 0 0 0;
	text-align: justify;
    text-justify: inter-word;
}

a {
	font-size:20px;
}

a.portfoliolinks {
	font-size:20px;
	color:#839298;	
	text-decoration:none;
}

a.portfoliolinks:hover {
	color:#EEAD0E;
}

span {
	color:#3B6AA0;
}

div.attribute {

	position:absolute;
	bottom:0px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

div.attribute a {
	font-size:7px;
	color:#839298;
}

p.attribute {
	position:absolute;
	bottom:0px;
	right:10px;
	z-index:9999;
	font-size:12px;
}

p.attribute a {
	font-size:12px;
	color:#839298;
	text-decoration:none;
}

/*small screens*/
@media only screen  
and (max-device-width : 800px) 
{ 
#container	{ width:100%; height:1080px; position:absolute; top:0; left:0; o }
	

li {
	font-size:25px;
}
a.portfoliolinks{
	font-size:25px;
}
}


/*iphone5 landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
#container	{ width:100%; height:1080px; position:absolute; top:0; left:0; overflow:hidden; }
	
	div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}
}




/*iphone 2g-4s landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 
#container	{ width:100%; height:1080px; position:absolute; top:0; left:0; overflow:hidden; }
	
	div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}
}


@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
	#container	{ width:100%; height:1080px; position:absolute; top:0; left:0; overflow:hidden; }
	
	div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}
}

/*for samsung galaxy s3*/
@media only screen and (-webkit-device-pixel-ratio: 2) and (device-width:1280px) and (orientation:landscape) {
	#container	{ width:100%; height:1080px; position:absolute; top:0; left:0; overflow:hidden; }
	
	div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}
}

/*samsung galaxy s4 Landscape*/
@media screen 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi)
and (device-width: 1920px)
and (orientation: landscape){ 
    #container	{ width:100%; height:1080px; position:absolute; top:0; left:0; overflow:hidden; }
	
	div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}
}


/* Samsung Galaxy S4 Portrait */    
@media screen 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi)
and (device-width: 1080px)
and (orientation: portrait){ 
   #container	{ width:100%; height:1080px; position:absolute; top:0; left:0; overflow:hidden; }
	
	div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}
}
