/************************************
*****=RESET VALUES for ENTIRE page****
*************************************
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}




/*** Style Definitions ***/
html			{ background-image:url("../images/debut_light.png"); font-family:Arial, Helvetica, sans-serif; }

/*** Clouds ***/
/*.clouds					{ width:100%; height:262px; overflow:hidden; }
#clouds-small			{ width:3000px; height:100%; background:url(../images/clouds1.png) repeat-x;}
#cloud2					{ position:relative; top:-262px; }
#clouds-big				{ width:4000px; height:100%; background:url(../images/clouds2.png) repeat-x;}*/

/*** Header ***/
h1#logo				{  height:100%; width:100%;
						 position:absolute; 
						 top:10px; 
						 left:10px; 
						 font-size:110px;
						 color:#366c84;}

#nav				{ float:right; position:absolute; top:40px; right:10px; z-index:10; }

#nav a				{  color:#839298;  text-decoration:none; padding:5px;
						margin-right:10px; font-size:45px; }
					
#nav a:hover		{  color:#BFB284; border-bottom:#BFB284 5px solid; text-decoration:none; padding:5px;
						margin-right:10px; }

#nav a.selected	{  color:#BFB284; border-bottom:#BFB284 5px solid; text-decoration:none; padding:5px;
						margin-right:10px; }
					
#nav li			{ float:left; }

/*** Body Content ***/
#container	{ width:100%; height:1000px; position:absolute; top:0; left:0; overflow:hidden; }

#mask		{ width:400%; height:100%; }

.box		{ width:25%; height:100%; float:left; }

.content	{ width:960px; height:400px; top:20%; margin: 0 auto; position:relative; }
				
.inner		{ width:920px; height:360px; background:rgba(255, 255, 255, 0.3); border-radius:30px; -moz-border-radius:30px;
					-webkit-border-radius:30px; margin:5px; padding:15px; top:5px; position:relative; }
					
/*************************************
************MAIN**********************/

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue_regular_macroman/BebasNeue-webfont.eot');
    src: url('../fonts/bebasneue_regular_macroman/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular_macroman/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular_macroman/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular_macroman/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
font-family:bebas_neueregular;	
}

ul {
list-style-type:none;
}

ul.portfoliolist {
	font-size:55px;
	margin: 30px 0 0 0;
}

a {
	font-size:30px;
}

a.portfoliolinks {
	font-size:55px;
	color:#839298;	
	text-decoration:none;
}

a.portfoliolinks:hover {
	color:#BFB284;
}

span {
	color:#366c84;
}

div.attribute {

	position:absolute;
	top:1080px;
	left:10px;
	z-index:9999;
	font-size:10px;
}

div.attribute a {
	font-size:7px;
	color:#839298;
}

p.attribute {
	position:absolute;
	top:1080px;
	right:10px;
	z-index:9999;
	font-size:12px;
}

p.attribute a {
	font-size:12px;
	color:#839298;
	text-decoration:none;
}